<div class="Game">

  <table>
    <thead>
    <tr>
      <th [colSpan]="board.tiles[board.tiles.length - 1].length">
        <div class="counter minesToFlag">
          <label>{{ board.minesToFlag }}</label>
        </div>
        <button class="restartButton" type="button" (click)="restartGame()">
          <img [src]="gameStatus === GameStatusesEnum.GAME_OVER ?  sadImgSrc :
         gameStatus === GameStatusesEnum.WON ? happyImgSrc : boredImgSrc" alt="game-status"/>
        </button>
        <div class="counter time">
          <label>{{ secondsUnderway > 0 ? secondsUnderway : secondsUnderway > 999 ? '∞' : '&nbsp;' }}</label>
          <!-- could easily be a pipe -->
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of board.tiles">
      <td *ngFor="let tile of row" (click)="handleTileClick(tile)" (contextmenu)="handleTileRightClick($event, tile)"
          [class.revealed]="tile.status === TileStatusesEnum.CLEAR || tile.status === TileStatusesEnum.EXPLODED">
        <!-- if only there was a way for parent selectors -->
        <ng-container [ngSwitch]="tile.status">
          <i *ngSwitchCase="TileStatusesEnum.EXPLODED" class="fas fa-bomb exploded"></i>
          <i *ngSwitchCase="TileStatusesEnum.FLAGGED" class="fas fa-flag"></i>
          <ng-container *ngSwitchCase="TileStatusesEnum.CLEAR">
            <i *ngIf="tile.hasMine" class="fas fa-bomb"></i>
            <span *ngIf="!tile.hasMine && tile.neighborMines > 0 "
                  [class]="'clear-' + tile.neighborMines">{{ tile.neighborMines }}</span>
          </ng-container>
        </ng-container>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td [colSpan]="board.tiles[board.tiles.length - 1].length">
        <label class="gameSaved" *ngIf="showGameSavedMessage">Game saved!</label>
        <button (click)="saveGame()" type="button" class="saveButton" [disabled]="gameStatus !== GameStatusesEnum.UNDERWAY">
          <i class="fas fa-save"></i>
        </button>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
