@import '../../shared.styles';
.Home {
  @include msp-background;

  &-container {
    text-align: center;
    font-family: $msp-font-face-2;
    h1 {
      padding: 4rem 0;
      letter-spacing: 0.3rem;
      .mineIcon {
        font-size: 2.4rem;
        animation: explode 5s linear 2s infinite;

        @keyframes explode {
          0% {
            transform: translate(-50%, -33%);
            opacity: 0.05;
          }
          25% {
            opacity: 0.2;
          }
          50% {
            transform: translate(-50%, 0);
            opacity: 1;
          }
          100% {
            opacity: 0;
            color: #810101;
          }
        }
      }
    }
    a {
      display: block;
      text-decoration: none;
      font-size: 2.4rem;
      color: #390339;
      padding-bottom: 0.6rem;
      transition: 0.3s;
      text-shadow: $msp-text-shadow;

      &:hover {
        font-size:3.8rem;
        text-shadow: $msp-text-shadow-highlight
      }
    }
  }
}
