<div class="History">
  <div class="History-header">
    <button class="backButton" (click)="goHome()"><i class="fas fa-arrow-left"></i></button>
    <button class="eraseButton" (click)="clearHistory()" [disabled]="!this.games?.length"><i class="fas fa-eraser" ></i></button>
    <h1>History</h1>
  </div>
  <div class="History-container">
    <table *ngIf="this.games && this.games.length else noHistory">
      <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Difficulty</th>
        <th>Total time spent</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let game of games">
        <td>{{ game.startDate | date:'MM-dd-YYYY hh:mm' }}</td>
        <td>{{ game.endDate | date:'MM-dd-YYYY hh:mm a' }}</td>
        <td>{{ game.difficulty }}</td>
        <td>{{ game.elapsedTime }} seconds</td>
        <td>{{ game.status === GameStatusesEnum.WON ? 'Won' : 'Lost' }}</td>
      </tr>
      </tbody>
    </table>
    <ng-template #noHistory>
        <h4 class="noHistory">No history available. Play some games!</h4>
    </ng-template>
  </div>

</div>
