@import '../../shared.styles';

.History {
  @include msp-background;

  &-header {
    @include msp-header;

    .eraseButton {
      font-size: 2.4rem;
      @include iconButton();
      float: right;

      &[disabled] {
        cursor: default;
        color: $msp-color-light-grey-active;
        &:hover {
          color: $msp-color-light-grey-active;
        }
      }
    }
  }

  &-container {
    table {
      margin: 2rem auto;
      background-color: #F6F6F6;
      border: 1px solid #fff;
      td, th {
        padding: 0.2rem 0.6rem;
      }

      tbody {
        tr {
          td {
            &.difficulty, &.status {
              text-align: center;
            }
            &.startDate, &.endDate, &.elapsedTime {
              text-align: right;
            }
          }
        }
      }
    }
    .noHistory {
      text-align: center;
      padding: 2rem 0;
    }

  }
}
